@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: 255, 255, 255;
    --background: 18, 18, 18;
  }
}

body {
  color: rgb(var(--color));
  background: rgb(var(--background));
  font-size: 25px;
}

/* universal styling */

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1vw;
}
::-webkit-scrollbar-thumb {
  width: 5vw;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
