@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: 255, 255, 255;
    --background: 18, 18, 18;
  }
}

/* just to see as grid all the elements, so we have a better idea what is going on */
/* * {
  border: solid 1px red;
} */

body {
  color: rgb(var(--color));
  background: rgb(var(--background));
  font-size: 25px;
}

/* universal styling */

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1vw;
}
::-webkit-scrollbar-thumb {
  width: 5vw;
}
::-webkit-scrollbar-thumb {
  background: gray;
}

.navUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 5vh;
  font-size: 1.2rem;
}

.navUl li {
  position: relative;
  transition: all 0.3s ease;
}

/* .navUl li a {
  position: relative;
  transition: all 0.3s ease;
} */

.navUl li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  opacity: 70%;
  transition: width 0.3s ease-in-out;
}

.navUl li:hover::before {
  width: 100%;
  opacity: 70%;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.navUl li:hover {
  transform: scale(1.1);
  z-index: 1;
}

.MainBehindText {
  text-shadow: 1px 0 rgb(255, 223, 239), 0px 0 rgb(255, 223, 239),
    0 0px rgb(255, 223, 239), 0 -1px rgb(255, 223, 239),
    1px 0px rgb(255, 223, 239), 0px 0px rgb(255, 223, 239), -1px -1px #fff,
    -1px 1px rgb(255, 223, 239);
}

/* .ToolTip {
  height: calc(100svh - 56px) !important;
} */

.ChaptersNavegator {
  max-height: calc(100% - 3.78rem);
}

.Reply {
  margin-left: auto !important;
}

.Navigation {
  height: calc(100svh - 56px);
}

.MyFooter p {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem;
}
